@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
      flex-wrap: wrap;
    }

    .col-2-3-profileCard {
        border-radius: 0;
    }

    img {
        border-radius:0;
    }

    .col-2-2-linkBox {
        border-radius: 0;
    }

}

@media only screen and (min-width: 769px) {
    .col-2-profileCont {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .col-2-3-profileCard {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 300px;
    }

    .col-2-2-linkBox {
        max-width: 300px;
    }

    .col-2-3-profileCard {
        border-radius: 5%;
    }

    img {
        border-radius:0;
        border-radius: 5% 5% 0 0;
    }

    .col-2-2-linkBox {
        border-radius: 5%;
    }
}

.col-2-profileCont {
    display: flex;
    flex-direction: row;
    color: black;
}

.col-2-3-profileCard {
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding-top: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    background-color: #F4F7F6;
}

.cardTitle {
    color: black;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

img {
    width: 100%;
}

.col-2-2-linkBox {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    background-color: #F4F7F6;
}


.col-2-1-infoBox {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    background-color: #F4F7F6;
}