@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
      flex-wrap: wrap;
    }

    .col-2-3-profileCard {
        border-radius: 0;
    }

    img {
        border-radius:0;
    }

    .col-2-2-linkBox {
        border-radius: 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

}

@media only screen and (min-width: 769px) {
    .col-2-profileCont {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .col-2-3-profileCard {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .col-2-2-linkBox {
        box-shadow: 8px 4px 8px 4px black;
        width: 100%;
        width: 60%;
        margin: 40px 0px 20px 200px;
    }

    .col-2-3-profileCard {
        border-radius: 5px;
        margin: 30px 20px 14px 10px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);  
    }

    img {
        border-radius:0;
        border-radius: 5px 5px 0 0;
        width: 100%;
        max-height: 538px;
        max-width: 1090px;
    }

    .col-2-1-infoBox {
        border: 2px black solid;
        margin: 30px 10px 15px 20px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        border-radius: 5px;
    }

    .col-2-1-infoBox .col-2-1-1 {
        font-size: 25px;
    }

    .col-2-1-1  {
        margin: 50px 10px 10px 10px;
    }

}

.col-2-profileCont {
    display: flex;
    flex-direction: row;
    color: black;
}

.col-2-3-profileCard {
    display: flex;
    justify-content: right;
    flex-direction: column;
    text-align: center;
    background-color: #F4F7F6;
}


.cardTitle {
    color: black;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

img {
    width: 100%;
}

.col-2-2-linkBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #F4F7F6;
}

.col-2-2-linkBox img {
    width: 25px;
    height: 25px;
}

.col-2-2-1 {
    display: flex;
    flex-direction: row;
}


.col-2-1-infoBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F4F7F6;
}

