@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
      flex-wrap: wrap;
    }

    .col-2-3-profileCard {
        border-radius: 0;
    }

    img {
        border-radius:0;
    }

    .col-2-2-linkBox {
        border-radius: 0;
    }

}

@media only screen and (min-width: 769px) {
    .col-2-profileCont {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .col-2-3-profileCard {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 300px;
    }

    .col-2-2-linkBox {
        max-width: 300px;
    }

    .col-2-3-profileCard {
        border-radius: 5%;
    }

    img {
        border-radius:0;
        border-radius: 5% 5% 0 0;
    }

    .col-2-1-infoBox {
        width: 900px;
        height: 525px;
        border: 2px black solid;
    }

    .col-2-1-infoBox .col-2-1-1 {
        font-size: 25px;
    }

    .col-2-1-1 {
        margin: 50px 10px 10px 10px;
    }

}

.col-2-profileCont {
    display: flex;
    flex-direction: row;
    color: black;
}

.col-2-3-profileCard {
    display: flex;
    justify-content: right;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 525px;
    margin: 30px 10px 10px 10px;
    text-align: center;
    background-color: #F4F7F6;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);  
}

.cardTitle {
    color: black;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

img {
    width: 100%;
}

.col-2-2-linkBox {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px black solid;
    margin: 125px 300px;
    text-align: center;
    background-color: #F4F7F6;
    width: 100%;
}

.col-2-2-linkBox img {
    width: 25px;
    height: 25px;
}

.col-2-2-1 {
    display: flex;
    flex-direction: row;
}


.col-2-1-infoBox {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 30px 40px 10px 40px;
    text-align: center;
    background-color: #F4F7F6;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
